{
	"token":"BOT TOKEN GOES HERE",
    "flaskSecret":"MAKE SOMETHING UP",
    "mysqlUsername":"discord",
    "mysqlLoc":"localhost",
    "mysqlPass":"MYSQL PASSWORD GOES HERE",
    "mysqlDB":"discord"
}
	
