<!DOCTYPE HTML>
<html lang=en>
    <head>
        <title>HackSoc Discord Invite</title>
        <meta charset="utf-8">
        <meta name=viewport content="width=device-width, initial-scale=1.0">
        <meta property="og:title" content="Abertay Hackers Discord">
        <meta property="og:description" content="Join the Abertay Hackers Discord server!">
        <meta property="og:image" content="https://cdn.hacksoc.co.uk/img/hacksoc-twitter-card.png">
        <meta property="og:url" content="{{request.base_url}}">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@AbertayHackers">
        <meta name="twitter:image:alt" content="The Hacksoc Logo">
        <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
        <link rel="shortcut icon" type="image/png" href="https://cdn.hacksoc.co.uk/img/favicon.png">
        <script src="https://cdn.jsdelivr.net/npm/p5@1.4.0/lib/p5.js"></script>
    </head>
    <body>
        <div id="outer">
            <div id="middle">
                <div id="inner-back">
                <div id="inner">
                    <img id="logo" src="https://cdn.hacksoc.co.uk/img/logo.png">
{% include page %}{% with messages = get_flashed_messages() %}{% if messages %}
                    <p class="centered"><strong>{{ messages[0] }}</strong></p>{% endif %}{% endwith %}
                </div>
                </div>
            </div>
        </div>
        <script src="/assets/js/main.js"></script>
    </body>
</html>
