From: no-reply@hacksoc.co.uk
To: {}
MIME-Version: 1.0
Content-Type: text/html
Subject: Hacksoc Discord Verification Code

<h1>Welcome to the Abertay Hacking Society Discord!</h1>
<p>Please use this code to verify your email address: <code>{}</code></p>
