<h1>Welcome to HackSoc!</h1>
<p>Welcome to the Discord portal for the Abertay Ethical Hacking Society.<br>Please enter your student number below -- we will send an email to your student email address with a verification code to access the server.<br>If you don't have a student email, please reach out to us at <a href="mailto:team@hacksoc.co.uk"><code>team@hacksoc.co.uk</code></a>!</p>
<form method="POST">
    <label for="studentID">Student ID:</label>
    <input name="studentID" type="text" placeholder="Student ID" required>
    <input type="submit" value="Submit">
</form>
