                    <h1>Welcome to HackSoc!</h1>
                    <p class="centered">Welcome to the Discord portal for the Abertay Ethical Hacking Society.</p>
                    <p class="centered">Please enter your student ID:</p>
                    <form method="POST">
                        <input name="studentID" type="text" placeholder="Student ID" required>
                        <input type="submit" value="Submit">
                    </form>
                    <p>We will send an email to your student email address with a verification code to access the server.</p>
                    <p>If you don't have a student email, please reach out to us at <a href="mailto:team@hacksoc.co.uk"><code>team@hacksoc.co.uk</code></a>!</p>
